extends layout.pug

block content
        h1 LogBot
        p Made by Got

        each state in status
                p #{state.profilo} - #{state.status} -  #{moment(state.createdAt).format('DD/MM/YYYY HH:mm')}
