extends layout.pug

block content
    h1 Log di #{profilo}
    
    div
        table(class='table table-dark table-striped')
            thead(class='thead-light')
                tr
                    th Data
                    th Azione
                    th Testo
            tbody
                each log in logs
                    tr
                        td #{moment(log.createdAt).format('DD/MM/YYYY HH:MM')}
                        td #{log.action}
                        td #{log.testo}
                    